@using (Html.BeginForm("Result", "SOAP"))
{
    <div style="margin-left:30%;margin-right:30%">
        <div class="form-group">
            @Html.Label("Insert data:")
            @Html.TextBox("data")
        </div>
        
        <a class="btn btn-danger" onclick="history.go(-1); return false;" href="#">Cancle</a>
        <button type="submit" class="btn btn-primary" style="float:right">Save</button>
    </div>
}