@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" href="@Url.Action("Index","XSD")">XSD</a>
    <a class="btn btn-primary" href="@Url.Action("Index","RNG")">RNG</a>
    <a class="btn btn-primary" href="@Url.Action("Index","SOAP")">SOAP</a>
    <button>JAXB</button>
    <button>DHMZ</button>
    <a class="btn btn-primary" href="@Url.Action("Index","FreeNews")">Free News API</a>
</div><br><br>