@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <a class="btn btn-primary" href="@Url.Action("Index","XSD")"><h1>XSD</h1></a>
    <a class="btn btn-primary" href="@Url.Action("Index","RNG")"><h1>RNG</h1></a>
    <a class="btn btn-primary" href="@Url.Action("Index","SOAP")"><h1>SOAP</h1></a>
    <a class="btn btn-primary" href="@Url.Action("Index","FreeNews")"><h1>Free News API</h1></a>
</div>